<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="flightInfoController">

  <h1 align="center"> Virgin Flight Information </h1>

  <table>
    <tr ng-repeat="x in names">
      <td>{{ x.departureTime }}</td>
      <td>{{ x.destination }}</td>
      <td>{{ x.destinationAirportIATA }}</td>
      <td>{{ x.flightNo }}</td>
     </tr>
  </table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('flightInfoController', function($scope, $http) {
  $http.get("http://localhost:8080/virgin/v1/flights/2020-02-29")
  .then(function (response) {
  console.log(response);
  $scope.names = response.data;
  });
});
</script>


</body>
</html>